name: Create Release ZIP

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Get release version
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      
      - name: Create ZIP file
        run: |
          zip -r h2-vereinsverwaltung-${{ steps.version.outputs.VERSION }}.zip *
      
      - name: Upload Release Asset
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.ref_name }} h2-vereinsverwaltung-${{ steps.version.outputs.VERSION }}.zip
